/*******************************************************************************
 * base.layout.scss
 *
 * Styling of the "divine" layout demonstrating the golden rule and asymmetric
 * grids with Singularity.
 ******************************************************************************/
/* line 26, ../../../sass/layouts/base/base.layout.scss */
.l-page {
  width: 95%;
  max-width: 110em;
  margin: 0 auto; }

/* line 32, ../../../sass/layouts/base/base.layout.scss */
.l-header,
.l-main {
  *zoom: 1;
  margin-bottom: 20px; }
  /* line 38, ../../../../../../../../../../home/ali/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-header:after,
  .l-main:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 700px) {
  /* Header Area */
  /* line 40, ../../../sass/layouts/base/base.layout.scss */
  .l-branding {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

  /* line 43, ../../../sass/layouts/base/base.layout.scss */
  .l-region--header {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }

  /* line 46, ../../../sass/layouts/base/base.layout.scss */
  .l-region--navigation {
    clear: both; }

  /* Content Area */
  /* line 51, ../../../sass/layouts/base/base.layout.scss */
  .l-content {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

  /* Sidebars */
  /* line 57, ../../../sass/layouts/base/base.layout.scss */
  .has-one-sidebar .l-region--sidebar-first,
  .has-one-sidebar .l-region--sidebar-second {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

  /* line 63, ../../../sass/layouts/base/base.layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: both; }
  /* line 66, ../../../sass/layouts/base/base.layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; } }
@media (min-width: 1250px) {
  /* Header Area */
  /* line 74, ../../../sass/layouts/base/base.layout.scss */
  .l-header {
    *zoom: 1; }
    /* line 38, ../../../../../../../../../../home/ali/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
    .l-header:after {
      content: "";
      display: table;
      clear: both; }

  /* line 77, ../../../sass/layouts/base/base.layout.scss */
  .l-branding {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

  /* line 80, ../../../sass/layouts/base/base.layout.scss */
  .l-region--header {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }

  /* line 83, ../../../sass/layouts/base/base.layout.scss */
  .l-region--navigation {
    clear: both; }

  /* Content Area */
  /* line 88, ../../../sass/layouts/base/base.layout.scss */
  .l-content {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

  /* Sidebars */
  /* line 94, ../../../sass/layouts/base/base.layout.scss */
  .has-one-sidebar .l-region--sidebar-first,
  .has-one-sidebar .l-region--sidebar-second {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }

  /* line 100, ../../../sass/layouts/base/base.layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none; }
  /* line 103, ../../../sass/layouts/base/base.layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none; } }

/*# sourceMappingURL=base.layout.css.map */
