/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  color: #000000;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 16px !important;
  line-height: 1.846;
  margin: 0;
  padding: 0; }

/* line 16, ../sass/global.scss */
a, a:link, a:visited {
  color: #000000;
  text-decoration: none; }

/* line 20, ../sass/global.scss */
a:focus, a:hover, a:active {
  color: #00C8F8;
  text-decoration: none; }
