/* $Id: color-vine-style.css,v 1.0.0 2013/09/25 08:18:15 symphonythemes Exp $ */
/*------------------------------------*\
	RESET
\*------------------------------------*/
body {
  background: #edebe9;
}

/*------------------------------------*\
	Pages Background
\*------------------------------------*/
.zone-user-wrapper,
.zone-branding-wrapper,
.zone-menu-wrapper,
.zone-title-wrapper,
.zone-header-wrapper,
.zone-full-width-wrapper,
.zone-feature-wrapper,
.zone-content-wrapper,
.zone-content-bottom-first-wrapper,
.zone-content-bottom-second-wrapper,
.zone-content-bottom-third-wrapper,
.zone-content-bottom-fourth-wrapper,
.zone-content-bottom-fifth-wrapper,
.zone-postscript-wrapper,
.zone-footer-wrapper,
.zone-content-bg-img-wrapper,
.zone-content-bg-img-wrapper .zone-inner-wrapper {
  background: none !important;
  border: none !important;
}
.zone-user {
  border-bottom: 1px solid #e8e8e8;
  background: #f8f8f8;
}
.zone-branding-wrapper.fixed,
.zone-branding {
  background: #fff url(../images/rainbow-border.png) center top repeat-x;
  border: 1px solid #e8e8e8;
}
.zone-title {
  background: url(../images/zone-title-bg.png) center center no-repeat;
}
.zone-header {
  background: #fafafa;
}
#zone-full-width,
#region-full-width {
  background: #fafafa;
}
.zone-feature {
  background: url(../images/featured-zone-bg.png) center center;
}
.zone-content-bg-img {
  background: url(../images/zone-background-img.jpg) 0 0 fixed;
}
.zone-content-bg-img-wrapper .zone-inner {
  background: rgba(67, 73, 82, 0.8); /* rgba(51, 54, 55, 0.4); */
}
.zone-content-bottom-first,
.zone-content-bottom-third,
.zone-content-bottom-fifth {
  background: #f8f7f6;
  border-top: 1px solid #e8e8e8;
}
.zone-content,
.zone-content-bottom-second,
.zone-content-bottom-fourth {
  background: #fafafa;
  border-top: 1px solid #e8e8e8;
}
.zone-postscript {
  background: #3a3a3a url(../images/rainbow-border.png) center top repeat-x;
  border-bottom: 1px solid #444;
}
.zone-footer {
  background: #333;
}
